{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div id="gt-help-topics-unit-block" {{ attributes.addClass(classes) }}>
  <p>{{ content.intro }}</p>
  <h2>Choose from the options below:</h2>
  <div id="help-topic-select" class="control-wrapper">
    <ul id="help-topic-options">
    {% for item in content.raw_options %}
      <li data-id="{{ item.id }}" class="option">{{ item.label }}</li>
    {% endfor %}
    </ul>
    <div id="topic-go-button" class="button">GO</div>
  </div>
</div>
